In [ ]:
# fungsi range 
x = range(6)
x

for n in x: #untuk n yang ada dalam variabel x 
  print (n) #maka kita print untuk seluruh nilai

***range(n) : 0 <= x < n*** <br>
`misal range(6) artinya 0 <= x < 6, jadi angka yg masuk ke dalam range 0,1,2,3,4,5`

Syntax range: range(start, stop, step), default step 1 jika tidak di-define

In [ ]:
#contoh jika start dan stop di definisikan 
x = range(1, 10)
for n in x: 
  print (n)

In [ ]:
#contoh jika start stop dan step di definisikan 
x = range(3, 20, 2) #(mulai dari angka 3, sampai angka 20, dengan jarak 2 langkah atau selisih 2)
for n in x: 
  print (n)