In [ ]:
#integer, bilangan angka (bulat), negatif atau positif tanpa koma
a = 20 

#float, bilangan angka, negatif atau positif, dengan koma 
b = 75.95

#complex, angka imajiner dilambangkan dengan huruf j
c = 1j

print(a,b,c)
print(type(a),type(b),type(c))

In [ ]:
#contoh casting numeric type 
# (mengubah tipe data)

x = 20 #int
y = 75.95 #float
z = 1j #complex

#convert from int to float: 
a = float(x)

#convert from float ti int: 
b = int(y)

#convert from int to complex: 
c = complex(x)

#catatan: complex ke integer tidak bisa

print(a,b,c)
print(type(a),type(b),type(c))

In [ ]:
#operasi matematika basic

x = 20; y = 6

print (x+y) #penjumlahan 
print (x-y) #pengurangan
print (x*y) #perkalian
print (x**y) #eksponensial atau pangkat
print (x/y) #pembagian hasil bilangan real
print (x%y) #modulus atau sisa bagi
print (x//y) #floor atau pembulatan ke bawah, hasilnya nilai dari integer awal

***STRING***

In [ ]:
#string dalam python, ditandai dengan kutip 2 (" ")
a = "Hello"

#atau kutio 1 (' ')
b = 'Hello'

print (a)
print (b)
print(type(a),type(b))

In [ ]:
#membuat paragraf
paragraf = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''  #bisa menggunakan triple single/double quote

print(paragraf)

In [ ]:
#beberapa case di tipe data string 
nama = "sample" #data string bisa menggunakan petik tugggal (') atai petik ganda ("")

print(type(nama)) #melihat tipe data
print(len(nama)) #menghitung panjang karakter 
print(nama) #melihat value dari variabek nama 
print(nama[3]) #membaca indeks ke 3, akan tetapi harus diingat kalau bahasa python membaca dari indeks 0
print(nama[1:3]) #tanda titik dua (:) disini mendefinisikan range 
print(nama[-2]) #tanda negatif (-) disini mengartikan python membaca dari belakang
print(nama+"coba") #penjumlahan kata
print(nama+" "+"coba") #penjumlahan kata 
print(nama*3) #perkalian kata

In [ ]:
data = "latihan python"
nilai = "35"
isi = " "
nama = "Someone"

print(data) #memanggil value variabel data
print(len(nama)) #menghitung panjang karakter dari variabel nama
print(type(nilai)) #melhat tipe data dari variabel nilai
print(data.upper()) #membuat karakter menjadi kapital semua
print(data.capitalize()) #membuat karakter awal (hanya yang awal) menjadi kapital
print(data.isspace()) #untuk memerikasa karakter membuat hanya spasi 
print(nilai.isnumeric()) #untuk memeriksa karakter merupakan hanya numerik 
print(nama.swapcase()) #merubah karakter lower menjadi upper dan berlaku sebaliknya 
print(nilai*3) #karena nilai dibaca sebagai string maka python tidak memuat hasil perkalian

print("python" in data) #memeriksa apakah string yang dicari ada di variabel data 
print("sql" not in data) #memeriksa apakah string yang dicari ada di variabel data

In [ ]:
isi = "Training Python"
print(isi.find("n")) #memeriksa apakah ada karakter yang ingin dicari termuat dalam variabel
print(isi.find("n",7)) #memeriksa karakter dari karakter ke 8

In [ ]:
nama = "zayn malik"

print(nama)
print(nama.upper())
print(nama.capitalize())
print(nama.title()) #membuat karakter seperti aturan teks dalam membuat judul

In [ ]:
nomor1 = "789"
nomor2 = "35"
#untuk membuat karakter menjadi 7 digit, jika belum 7 maka ditambahkan angka 0 diawal karakter
print(nomor1.zfill(7))

In [ ]:
judul = "training"
judul2 = "latihan"
print(judul.center(10,"-")) #membuat karakter menjadi 10 digit dan dibuat karakter tengah, untuk memenuhi kekurangan karakter
print(judul2.center(10,"-")) #tanda strip (-) jadi lebih banyak di akhir karakter

print (judul.replace('a','x'))

In [ ]:
import string 

kode = "aeios"
kode2 = "43105"
kata = "Latihan Python"

ubah = kata.maketrans(kode,kode2)
print(kata)
print(ubah) #melihat aturan perubahan karakter menjadi numerik, dan untuk memeriksa berapa banyak karakter yang di ubah
print(kata.translate(ubah)) #maketrans untuk mengubah beberapa karakter menjadi angka dengan aturan yang sudah ada

In [ ]:
umur = 41 
teks = "Nama saya Budi, Umur Saya {}"
print (teks.format (umur)) #methode format string 

usia = 20 
print (f"Nama saya Agna, usia saya {usia}")

In [ ]:
qty = 3
produk_no = 567
harga = 100000
order = "Saya ingin {} buah dari produk {} yang seharga {} rupiah." #ngisi bracket sesuai urutan variabel pada method format ()
print(order.format(qty, produk_no, harga))

qty=3
produk_no=567
harga = 100000
order =f"Saya ingin {qty} buah dari produk {produk_no} yang seharga {harga} rupiah"#ngisi bracket sesuai urutan variabel pada method format()
print(order)

***Boolean***

In [ ]:
print (10 > 9) #bernilai benar
print (10 == 9) #bernilai salah 
print (10 < 9) # bernilai salah

In [ ]:
a = 10
b = 5

if b > a:
  print ("Benar bahwa b lebih besar dari a")
else: 
  print ("salah, b lebih kecil dari a")

In [ ]:
#kebanyakan boolean itu akan mengeluarkan output true 
print (bool("Hello"))
print (bool(15))
print (bool(["apel", "ceri", "pisang"]))

In [ ]:
#output yang akan false dari boolean
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

***None Type***

In [ ]:
a = None
print(type(a))

In [ ]:
x = None

if x is True: 
  print("Do you think None is True?")
elif x is False: 
  print ("Do you think None is False?")
else: 
  print ("None is not True, or False, None is just None...")