In [2]:
#ini contoh variabel dengan tipe data integer
x = 25

#ini contoh variabel dengan tipe data string
y='Hello World'

#ini contoh variabel dengan tipe data float
z= 24.75

print (x); print (y); print (z) #perintah untuk memunculkan variabel yang sudah terdefinisi

print (type(x)); print(type(y)); print(type(z)) #perintah untuk menampilkan tipe data dari suatu variabel

25
Hello World
24.75
<class 'int'>
<class 'str'>
<class 'float'>

In [1]:
#menyimpan 2 variabel menggunakan delimiter koma
a,b = 30,"hello world"

print (a,b) ##perintah untuk menampilkan variabel yang sudah terdefinisi dengan delimiter koma
print (a) 
print (b)
print(type(a), type(b))

30 hello world
30
hello world
<class 'int'> <class 'str'>

In [5]:
#variabel x pertama di definisikan 
x = 10

#variabel x didefinisikan dengan nilai lain 
x  = "hello world"

print(x) #hasil yang muncul merupakan nilai terakhir yang di definisikan 
print(type(x))

hello world
<class 'str'>

In [6]:
#contoh implementasi case sensitive

a= 1 #variabel huruf kecil 
A= "strawberry mangga apel" #variabel huruf kapital

print (a) #nilai yang muncul adalah yang tersimpan di variabel dengan huruf kecil a
print (A) #nilai yang muncul adalah yang tersimpan di variabel dengan huruf kapital A

1
strawberry mangga apel

In [9]:
#menyimpan beberapa variabel dengan nilai yang sama
i=j=k="Testing"

print (j) #outputnya Testing
print (k) #outputnya Testing 
print (type(i)) #outputnya tipe data untuk "Testing"

Testing
Testing
<class 'str'>

In [8]:
#membaca variabel per karakter

a,b,c,d,e,f= "python" #kalo pake tanda koma(,) hasilnya membaca per karakter, hanya berlaku untuk string 
print (a); print (f)

p
n

In [7]:
#casting, untuk melakukan konversi tipe data

x = str(3)   # x akan menghasilkan output '3'
y = int(3)   # y akan menghasilkan output 3
z = float(3) # z akan menghasilkan output 3.0

print(x); print(y); print(z)
print(type(x));print(type(y));print(type(z))

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>